/* src/components/Header.css */
#special{
    font-size: 2rem;
    font-family: "Poppins" !important;
    font-weight: 800 !important;

}
#special1{
    font-size: 2rem;
    text-align: center ;
    font-family: "Orkney" !important;
    font-weight: 500 !important;

}

/* #id='special-btn' */


.MuiIconButton-colorSuccess > svg:nth-child(1){
    color: rgb(255, 255, 255);
}
.MuiIconButton-colorSuccess{
    background-color: #336633;
    border-radius: 50px;
}
#btnAColorier{
    background-color: #1b741b;
   
}
/* #Btndanger, .MuiSvgIcon-colorDanger{
    
    background-color: red;

}
.MuiSvgIcon-colorDanger{
    background-color: red;
    border-radius: 50px; 
}
.MuiSvgIcon-colorDanger{
    background-color: red;

}*/
.MuiSvgIcon-colorDanger > path:nth-child(1){
    color: rgb(255, 0, 0);
} */
/* LES CARDS */
.css-1wxstni-MuiSvgIcon-root{
    width: 40px;
    height: 40px;
    border-radius: 11rem;
    background-color: #cfcfcf;
}
.card {
    width: 1000em !important;
    
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-image {
    width: 4rem;
    height: 4rem;
    margin: 15px;
    padding: auto;
    border-radius: 50%;
    position:absolute;
    display: flex;
    
    
  }
  
  .card-content {
    padding: 20px;
    /* display: flex; */
    /* margin: -20px; */
    

  }
  
  .card-title {
    font-size: 2rem;
    font-family: "Poppins"!important;
    margin-left: 50px;
    font-weight: 600 !important ;
    color: var(--bs-primary);
  }
  
  .card-description {
    margin-left:40px;
    font-size: 20px;
    margin-bottom: 0%;
    color: #555;
  }
  
/* FIN CARDS */
#special-btn{
    background-color: var(--bs-primary);
}
#topou-ma{
    display: block;
    text-align: center;
}
#text-special{
    text-decoration: solid;
    font-weight: 600;
    font-family: "Poppins" !important;
    color:rgb(0, 0, 0);
    text-transform: capitalize;
}
 #text-About{
    /*  
   text-size-adjust: 12px;
   text-indent: 1%;
   text-justify: distribute;
   color: #555; */
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  text-align: justify;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  color: #333;
  text-align: center;
  font-style: italic;
  color: #777;
  border-left: 2px solid #ccc;
  padding-left: 20px;
  margin-left: 20px;

}
.css-i4bv87-MuiSvgIcon-root{
    color: white;
}
#topoulen-ma{
    display:  flex;
    margin: auto;
    padding: 1rem;
    padding-bottom: 2rem ;
    
}
#topoulen-mafi{
   display: flex;

   
}
header.MuiPaper-root{
    background-color: var(--bs-primary);
    max-height: 4rem;
}
/* src/components/Sidebar.css */
aside {
    background-color: black; /* Marron foncé */
    width: 200px;
    min-height: 120vh;
    float: left;
    z-index: -9999;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    padding: 1rem;
    cursor: pointer;
    list-style: circle;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none
}

/* src/components/MainContent.css */
/* main {
    padding: 1rem;
} */

.TitleCard{
    background-color: var(--bs-primary);
    border-radius: 30px 30px 0px 0px;
    margin: 0px;
    padding: 0px;

}
.card-container {
    display: flex;
    justify-content: space-around;
    position: relative;
   
}

.card {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: rem;
    margin: 2rem;
    width: 100px;
    height: 150px;
    text-align: center;
}
/* src/components/Footer.css */
.dashboard-container > aside:nth-child(1) > nav:nth-child(1) > ul:nth-child(1) > li:nth-child(2) > a:nth-child(1) > svg:nth-child(1), .dashboard-container > aside:nth-child(1) > nav:nth-child(1) > ul:nth-child(1) > li:nth-child(3) > a:nth-child(1) > svg:nth-child(1) > path:nth-child(1), .dashboard-container > aside:nth-child(1) > nav:nth-child(1) > ul:nth-child(1) > li:nth-child(4) > a:nth-child(1) > svg:nth-child(1), .dashboard-container > aside:nth-child(1) > nav:nth-child(1) > ul:nth-child(1) > li:nth-child(5) > a:nth-child(1) > svg:nth-child(1) > path:nth-child(1), .dashboard-container > aside:nth-child(1) > nav:nth-child(1) > ul:nth-child(1) > li:nth-child(6) > a:nth-child(1) > svg:nth-child(1)
{
    color: wheat;
}
.MuiIconButton-edgeStart > a:nth-child(1) > svg:nth-child(1) > path:nth-child(1){
    color: white;
    
}

header.MuiPaper-root{
    max-height: 6rem;
}
/* MODIF DE CMC */
.separator {
    text-align: center;
    padding: 20px;
    position: relative;
  }
  
  .line {
    display: block;
    color: #000;
    position: absolute;
    top: 60%;
    width: 100%;
  
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #000;
    box-shadow: 0 2px 4px rgba(1, 0.5, 0.5, 2);
  }

