/* src/components/Header.css */
#special{
    font-size: 2rem;
    font-family: "Poppins" !important;
    font-weight: 800 !important;

}
#special1{
    font-size: 2rem;
    text-align: center ;
    font-family: "Orkney" !important;
    font-weight: 500 !important;

}

/* #id='special-btn' */



/* LES CARDS */

.card {
    width: 1000em !important;
    
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-image {
    width: 4rem;
    height: 4rem;
    margin: 15px;
    padding: auto;
    border-radius: 50%;
    position:absolute;
    display: flex;
    
    
  }
  
  .card-content {
    padding: 20px;
    /* display: flex; */
    /* margin: -20px; */
    

  }
  
  .card-title {
    font-size: 2rem;
    font-family: "Poppins"!important;
    margin-left: 50px;
    font-weight: 600 !important ;
    color: var(--bs-primary);
  }
  
  .card-description {
    margin-left:40px;
    font-size: 20px;
    margin-bottom: 0%;
    color: #555;
  }
  
/* FIN CARDS */
#special-btn{
    background-color: var(--bs-primary);
}
#topou-ma{
    display: block;
    text-align: center;
}
#text-special{
    text-decoration: solid;
    font-weight: 600;
    font-family: "Poppins" !important;
    color:black;
}
#text-About{
   text-size-adjust: 12px;
   text-indent: 1%;
   text-justify: distribute;
}
.css-i4bv87-MuiSvgIcon-root{
    color: white;
}
#topoulen-ma{
    display:  flex;
    margin: auto;
    padding: 1rem;
    padding-bottom: 2rem ;
    
}
#topoulen-mafi{
   display: flex;

   
}
header.MuiPaper-root{
    background-color: var(--bs-primary);
    max-height: 4rem;
}
/* src/components/Sidebar.css */
aside {
    background-color: black; /* Marron foncé */
    width: 200px;
    min-height: 120vh;
    float: left;
    z-index: -9999;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    padding: 1rem;
    cursor: pointer;
    list-style: circle;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none
}

/* src/components/MainContent.css */
/* main {
    padding: 1rem;
} */

.TitleCard{
    background-color: var(--bs-primary);
    border-radius: 30px 30px 0px 0px;
    margin: 0px;
    padding: 0px;

}
.card-container {
    display: flex;
    justify-content: space-around;
    position: relative;
   
}

.card {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: rem;
    margin: 2rem;
    width: 200px;
    text-align: center;
}
/* src/components/Footer.css */
.ok{

}